/* formatação do body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.font-arial-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.font-arial-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.bebas-neue {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    font-weight: bold;
}
.bebas-neue-2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-weight: bold;
    font-stretch: expanded;
    letter-spacing: 5px;
}
.bebas-neue-3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 10px;
    font-weight: bold;
}
.archivo-black {
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
}
.archivo-black-2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 58px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
.archivo-black-3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 10px;
    font-family: 'Bebas Neue', cursive;
}
.suez-one {
    font-family: 'Suez One', serif;
    font-size: 58px;
}

/* paleta de cores */
.color-primary-white {
    color: hsl(0, 100%, 100%)
}
.color-primary-white-background {
    background-color: hsl(0, 100%, 100%);
}
.color-primary-blue {
    color: hsl(197, 100%, 60%);
}
.color-primary-blue-background {
    background-color: hsl(197, 100%, 60%);
}
.color-dark-blue {
    color: hsl(234, 100%, 30%);
}
.color-dark-blue-background {
    background-color: hsl(234, 100%, 30%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
h1 {
    margin: 65px 15px 35px 15px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
.text-1 {
    width:max-content;
    margin: 80px 80px;
    height: 50vh;
    align-items: center;
}
p {
    margin: 15px;
    padding: auto;
}
.button {
    width: 17vw;
    height: 7vh;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
    background-color: hsl(234, 100%, 30%);
}
.button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fig-1 {
    width: 50vw;
    height: 70vh;
}
.fig-1 img {
    width: 50vw;
    height: 70vh;
    box-sizing: border-box;
    border-radius: 1px 0px 60px 221px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.fig-2 img{
    margin-top: 50px;
    width: 50vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.nav-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    background: inherit;
    width: 100%;
    
}
ul {
    justify-content: space-around;
    list-style: none;
}
li {
    float: left;
    margin: 35px;
}
.nav-1 a {
    padding: 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.nav-1 a:hover {
    color: hsl(234, 100%, 30%);
    border-bottom: 3px solid hsl(234, 100%, 30%);
}
.sec-1 {
    padding-top: 70px;
    width: 100%;
    height: 100vh;
}
.sec-2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 300px;
}
.txt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50PX;
    height: 50vh;
}
h2 {
    margin: 65px 15px 35px 15px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
.fig-3 {
    padding: 1px;
    border-radius: 18px;
    margin: -15px 70px 0px 0px;
    width: 25vw;
    height: 60vh;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fig-3 h2 {
    margin: 10px;
}
.fig-3 img {
    margin: 10px;
    width: 15vw;
    height: 34vh;
}
.fig-4 {
    padding: 5px;
    border-radius: 18px;
    width: 25vw;
    height: 60vh;
    margin: -15px 70px 0px 0px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fig-4 h2 {
    margin: 10px;
}
.fig-4 img {
    width: 15vw;
    height: 34vh;
    margin: 10px;
}
.fig-5 {
    padding: 5px;
    border-radius: 18px;
    width: 25vw;
    height: 60vh;
    margin: -15px 70px 0px 0px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shake img:hover {
    
    animation: shake 0.5s;
  
    animation-iteration-count: 3.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.fig-5 h2 {
    margin: 10px;
}
.fig-5 img {
    width: 15vw;
    height: 34vh;
    margin: 10px;
}
.arrow-up {
    font-size: 40px;
}
footer {
    width: 100%;
    height: 30vh;
    padding: 10px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 200px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: hsl(234, 100%, 30%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /*padding: 0px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 4px; /* Increase font size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
  }
#myBtn img {
    height: 50px;
}
  
  #myBtn:hover {
    background-color: rgb(45, 194, 169); /* Add a dark-grey background on hover */
  }