/* formatação do body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.font-arial-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.font-arial-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.bebas-neue {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    font-weight: bold;
}
.bebas-neue-2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-weight: bold;
    font-stretch: expanded;
    letter-spacing: 5px;
}
.bebas-neue-3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: bold;
}
.archivo-black {
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
}
.archivo-black-2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 58px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
.archivo-black-3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
.suez-one {
    font-family: 'Suez One', serif;
    font-size: 58px;
}
.dela-gothic-one {
    font-family: 'Archivo Black', sans-serif;
    font-size: 48px;
}
.dela-gothic-one-1 {
    font-family: 'Suez One', serif;
    font-size: 20px;
    color: rgb(90, 90, 90);
}

/* paleta de cores */

.color-primary-white {
    color: hsl(0, 100%, 100%)
}
.color-primary-white-background {
    background-color: hsl(0, 100%, 100%);
}
.color-primary-blue {
    color: hsl(194, 100%, 65%);
}
.color-primary-blue-background {
    background-color: hsl(197, 100%, 60%);
}
.color-dark-blue {
    color: hsl(234, 100%, 30%);
}
.color-dark-blue-background {
    background-color: hsl(234, 100%, 30%);
}
.color-gray-background {
    background-color: hsl(290, 0%, 90%);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
h1 {
    margin-left: 30px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
.text-1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-top: 47px;
    opacity: 0.8;
}
.text-1 p {
    color: rgb(255, 255, 255);
    margin-left: 35px;
    text-shadow: 1.5px 1.5px black;
    text-indent: 30px;
}
.text-1 a {
    text-decoration: none;
}
p {
    margin: 15px;
}
.button {
    width: 17vw;
    height: 7vh;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
    background-color: hsl(234, 100%, 30%);
}
.button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fig-1 {
    width: 100%;
    background-size: cover;
    background-image:url("../images/pexels-alexander-suhorucov-6457495.jpg");
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 0.6em rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}
.fig-2 img{
    margin-top: 100px;
    width: 50vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.nav-1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: absolute;
    height: 80px;
    width: 100%;
    box-shadow: 0px 0.5px 0.5em rgba(0, 0, 0, 0.5);
}
ul {
    float: right;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li {
    float: left;
    margin: 35px;
}
.nav-1 a {
    padding: 15px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.nav-1 a:hover {
    color: hsl(234, 100%, 30%);
    border-bottom: 3px solid hsl(234, 100%, 30%);
}
.sec-1 {
    padding-top: 70px;
    width: 100%;
    height: auto;
}
.sec-2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    padding-bottom: 150px;
}
.txt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50PX;
    height: 50vh;
}
h2 {
    margin: 65px 15px 35px 15px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
h3 {
    margin: 15px 0 0 90px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
h4 {
    margin: 15px 0 0 90px;
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
h5 {
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
h6 {
    text-shadow: 1px 2px 0.1em rgba(0, 0, 0, 1);
}
.fig-3 {
    padding: 15px;
    border-radius: 18px;
    margin: -15px 0px 0px 0px;
    background-size: contain;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fig-3 h2 {
    margin: 10px;
}
.fig-3 img {
    margin: 10px;
    width: auto;
    height: 34vh;
}
.fig-4 {
    padding: 15px;
    border-radius: 18px;
    background-size: contain;
    height: auto;
    margin: -15px 0px 0px 0px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fig-4 h2 {
    margin: 10px;
}
.fig-4 img {
    width: auto;
    height: 34vh;
    margin: 10px;
}
.fig-5 {
    padding: 15px;
    border-radius: 18px;
    background-size: contain;
    height: auto;
    margin: -15px 0px 0px 0px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shake img:hover {
    
    animation: shake 0.5s;
  
    animation-iteration-count: 3.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.fig-5 h2 {
    margin: 10px;
}
.fig-5 img {
    width: auto;
    height: 34vh;
    margin: 10px;
}
.arrow-up {
    font-size: 40px;
}
.sec-3 {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    text-align: center;
    padding-top: 70px;
    width: 100%;
    height: auto;
}
.fig-6 img{
    margin-bottom: 150px;
    width: 50vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.fig-7 img{
    margin-bottom: 150px;
    width: 50vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.fig-8 img{
    margin-bottom: 150px;
    width: 50vw;
    height: 60vh;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.fig-9 img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}
.sec-3 h6 {
    padding: 20px;
}
.sec-3 p {
    padding-bottom: 110px;
    text-indent: 50px;
}
footer {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 30px;
}
footer nav {
    display: flex;
    flex-direction: column;
}
.list-f {
    opacity: 0.7;
    float: left;
    display: flex;
    flex-direction: row;
}
nav p {
    align-self: center;
}
.list-f a {
    padding: 15px;
    border-bottom: 2px solid transparent;
}
.list-f a:hover {
    color: hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 100%);
}
.list-f a {
    text-decoration: none;
}
.list-f1 {
    padding-top: 20px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}
.list-f1 img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 3px 0.6em rgba(0, 0, 0, 0.5);
}
.list-f1 li {
    margin: 5px;
    align-items: center;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 200px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: hsl(197, 100%, 60%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 4px; /* Increase font size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
  }
#myBtn img {
    height: 50px;
}
  
#myBtn:hover {
    background-color: hsl(234, 100%, 30%); /* Add a dark-grey background on hover */
}
@media (max-width: 1000px) {
    .sec-2 {
      flex-direction: column;
    }
    .fig-3 {
        margin: 40px 0px 80px 0px;
    }
    .fig-4 {
        margin: 40px 0px 80px 0px;
    }
    .fig-5 {
        margin: 40px 0px 40px 0px;
    }
}